body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #FFFFFF;
}

.container {
    width: 960px;
    margin: 0 auto;
}
.test{
    background-color:#212121;
}
#proba{
    background-color:#212121;
}




div > h1{
    font-family:'Arial';
}
div h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    padding: 20px 0;
    text-align: center;
    background: #3F51B5;
    color: white;
}

h2 {
    margin-bottom: 0px;
    padding-left: 10px;
    text-align: left;
    background: #3F51B5;
    color: white;
}

img {
    height: 400px;
    margin: 40px auto 40px;
    display: block;
}

table {
    width: 100%;
    color: #333;
    background: white;
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid #eee;
}

td {
    padding: 5px 0;
}

td:first-child {
    width: 300px;
    padding-left: 10px;
}

p#footer {
    margin-top: 100px;
}