#prvi { color: darkturquoise ; background-color: green; opacity: 0.2;}
#drugi { color: rgba(0, 206, 209, 0.5) ; background-color : rgba(0, 156, 201, 0.1);}
#treci { color:  #00ced1; background-color: yellow;}


